[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Greasemonkey (or better) script to block distracting websites
[access "refs/*"]
	owner = group user/Tobias Lütke (tobi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tobias Lütke (tobi)
	label-Verified = -1..+1 group user/Tobias Lütke (tobi)
	push = group user/Tobias Lütke (tobi)
	read = group user/Tobias Lütke (tobi)
	rebase = group user/Tobias Lütke (tobi)
	removeReviewer = group user/Tobias Lütke (tobi)
	submit = group user/Tobias Lütke (tobi)
[access "refs/heads/*"]
	create = group user/Tobias Lütke (tobi)
	push = +force group user/Tobias Lütke (tobi)
	pushMerge = group user/Tobias Lütke (tobi)
	read = group user/Tobias Lütke (tobi)
[access "refs/tags/*"]
	push = group user/Tobias Lütke (tobi)
	push = +force group user/Tobias Lütke (tobi)
